body {
	font-family: sans-serif;
	background-color: #eee;
}

h2 {
	margin-bottom: 0.5em;
}

x-ample {
	tab-size: 4;
	margin-top: 0.5em;
	margin-bottom: 2em;
	border-left: 2px solid #333;
	padding-left: 4px;

	&::part(textarea), &::part(code) {
		background-color: #ddd;
	}

	&::part(output) {
		xdisplay: block;
	}
}
